<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjoeun.ilsan.common.file.sql.CommonFileMapper">
	
	<insert id="insert" parameterType="map">
		insert into file 
		(
			o_filename
			,n_filename
			,f_seq
		) values (
			#{o_filename}
			,#{n_filename}
			,#{f_seq}
		)
	</insert>
	
	<select id="select" resultType="map" parameterType="map">
		select
				seq
				,o_filename
				,n_filename
				,f_seq
		from	file
		where	f_seq = #{seq}
	</select>
	
	
	
	
	
	
	
	
</mapper>